<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="mobile-web-app-capable" content="yes">
    <title>Life²</title>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Allerta+Stencil">
    <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/beon" type="text/css"/>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
