<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="mobile-web-app-capable" content="yes">
    <title>Life²</title>


<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png">
<link rel="icon" type="image/png" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="120x120" href="/apple-touch-icon-120x120.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/manifest.json">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
<meta name="theme-color" content="#000000">

<link rel="apple-touch-startup-image" sizes="320x460" href="/apple-touch-startup-image-320x460.png">
<link rel="apple-touch-startup-image" sizes="640x920" href="/apple-touch-startup-image-640x920.png">
<link rel="apple-touch-startup-image" sizes="640x1096" href="/apple-touch-startup-image-640x1096.png">
<link rel="apple-touch-startup-image" sizes="768x1004" href="/apple-touch-startup-image-768x1004.png">
<link rel="apple-touch-startup-image" sizes="1024x748" href="/apple-touch-startup-image-1024x748.png">
<link rel="apple-touch-startup-image" sizes="1536x2008" href="/apple-touch-startup-image-1536x2008.png">
<link rel="apple-touch-startup-image" sizes="2048x1496" href="/apple-touch-startup-image-2048x1496.png">


    <!--<link rel="icon" href="https://207.154.220.135/apple-touch-icon-152x152.png" sizes="16x16 32x32 64x64 128x128" type="image/png"/>
	<link rel="apple-touch-icon" href="https://207.154.220.135/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="57x57" href="https://207.154.220.135/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="114x114" href="https://207.154.220.135/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="152x152" href="https://207.154.220.135/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="https://207.154.220.135/apple-touch-icon-180x180.png">
    <link rel="apple-touch-icon" sizes="167x167" href="https://207.154.220.135/apple-touch-icon-167x167.png">-->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Allerta+Stencil">
    <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/beon" type="text/css"/>
    <link rel="stylesheet" media="screen and (max-width: 890px)" href="/stylesheets/mobilestyle.css">
    <link rel="stylesheet" media="screen and (min-width: 891px)" href="/stylesheets/style.css">
</head>
