<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <!--<meta name="mobile-web-app-capable" content="yes">-->
    <title>Life²</title>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Allerta+Stencil">
    <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/beon" type="text/css"/>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="apple-touch-icon" href="/icons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/icons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-touch-icon-180x180.png">
    <link rel="apple-touch-icon" sizes="167x167" href="/icons/apple-touch-icon-167x167.png">
    <link rel="apple-touch-startup-image" href="/splashscreen/apple-touch-startup-image-320x460.jpg" media="(device-width: 320px)">
    <link rel="apple-touch-startup-image" href="/splashscreen/apple-touch-startup-image-640X920.jpg" media="(device-width: 320px) and (device-height: 460px) and (-webkit-device-pixel-ratio: 2)">
    <link rel="apple-touch-startup-image" href="/splashscreen/apple-touch-startup-image-640X1096.jpg" media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2)">
    <link rel="apple-touch-startup-image" href="/splashscreen/apple-touch-startup-image-768x1004.jpg" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait)">
    <link rel="apple-touch-startup-image" href="/splashscreen/apple-touch-startup-image-1024x748.jpg" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape)">
    <link rel="apple-touch-startup-image" href="/splashscreen/apple-touch-startup-image-1536x2008.jpg" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) and (-webkit-min-device-pixel-ratio: 2)">
    <link rel="apple-touch-startup-image" href="/splashscreen/apple-touch-startup-image-2048x1496.jpg" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) and (-webkit-min-device-pixel-ratio: 2)">
</head>
