<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="mobile-web-app-capable" content="yes">
    <title>Life²</title>
    <link rel="icon" href="/icons/apple-touch-icon-152x152.png" sizes="16x16 32x32 64x64 128x128" type="image/png"/>
	<link rel="apple-touch-icon" href="/icons/apple-touch-icon-152x152.png">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Allerta+Stencil">
    <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/beon" type="text/css"/>
    <link rel="stylesheet" media="screen and (max-width: 890px)" href="/stylesheets/mobilestyle.css">
    <link rel="stylesheet" media="screen and (min-width: 891px)" href="/stylesheets/style.css">
</head>
