<div class="navigation" id="navigation">
    <div class="navMobile"></div>
    <ul class="navList" id="theMenu">
        <li><a href="/">Home</a></li>
        <li><a href="/register">Register</a></li>
        <li><a href="/">Sign in</a></li>
    </ul>
</div>

<script type="text/javascript" src="/clientscripts/dropdownMenu.js"></script>
