<div class="navigation">
    <ul class="navList">
        <li><a href="/user">My page</a></li>
        <li><a href="/createBucketlist/{{username}}">Create bucketlist</a></li>
        <li><a href="/createLifelist/{{username}}">Create lifelist</a></li>
        <li><a href="/logout">Sign out</a></li>
    </ul>
</div>
