<!DOCTYPE html>
<html lang="en">
{{>head}}
<body>
    {{>pageHeader}}
    <div class="container">
        {{>flash}}
        {{{body}}}
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script>
       // Connect to socket.io.
       let socket = io();

       let chatDiv = document.getElementsByClassName('chat')[0];

       chatDiv.addEventListener('keypress', function(event) {
           // Listen for Enter key
           if (event.keyCode === 13) {
               // Send a message and empty the textarea
               sendMessage(event.target.value);
               event.target.value = '';
               event.preventDefault();
           }
       });

       function sendMessage(message) {
           socket.emit('chat message', message);
       }

       socket.on('print message', function(theMsg) {
           let template = document.querySelectorAll('template')[0];
           let messageDiv = document.importNode(template.content.firstElementChild, true);

           messageDiv.querySelectorAll('.text')[0].textContent = theMsg;

           let messages = document.getElementsByClassName('messages')[0];
           messages.appendChild(messageDiv);
       });

       /*let sendButton = document.getElementsByClassName('sendMessage');
       console.log(sendButton[0].value);
       let message = document.getElementById('m');

       sendButton[0].addEventListener('click', sendMessage);*/

       /*function sendMessage(e) {
           socket.emit('chat message', {message: message.value});
           message.value = '';
           return;
       }*/

       let checkboxes = document.getElementsByClassName('checkbox');
       let percentPerBox = 100 / checkboxes.length;

       showProgress();

       for (let i = 0; i < checkboxes.length; i += 1) {
           checkboxes[i].addEventListener('click', showProgress);
       }

       function showProgress(e) {
           let progressBar = document.getElementById('myBar');
           let count = 0;

           for (let x = 0; x < checkboxes.length; x += 1) {
               if (checkboxes[x].checked) {
                   count += 1;
                   console.log(checkboxes[x]);
                   // When checkbox is checked, send message to server.
                   socket.emit('checked', {message: checkboxes[x].value});
               }
           }

           let percent = percentPerBox * count;
           progressBar.style.width = percent + '%';

       }
    </script>
</body>
</html>
