html {
    background-size: auto auto;
    height: 100%;
    overflow: hidden;
}

/* BODY SETTINGS */
body {
    height: 100%;
    overflow: scroll;
}

input {
    height: 20px;
}

/* NAVIGATION SETTINGS */
.navigation {
    position: absolute;
    top: 0;
    left: 5;
    display: inline-block;
}

.navMobile {
    cursor: pointer;
    background: #339798 url('../images/menu-icon.png') no-repeat center center;
    margin-top: 40px;
    height: 40px;
    width: 40px;
    border-radius: 5px;
}

.navList {
    list-style: none;
    font-family: 'BeonRegular';
    display: none;
    position: absolute;
    overflow: auto;
    z-index: 1;
    min-width: 200px;
}

.navList li a {
    text-decoration: none;
    display: block;
    padding: 15px 20px;
    color: #FFF;
    background: #339798;

}

.navList li a:hover {
    background: #2d7f7e;
}

.show {
    display: block;
}

/* FORM SETTINGS */
.form-button {
    height: 30px;
    width: 60px;
}

/* BUCKETLIST SETTINGS */
.bucketlists {
    width: 100%;
}

/* LIFELIST SETTINGS */
.lifelist {
    width: 98.6%;
}

/* CHAT SETTINGS */
.center {
    margin: auto auto;
    width: 270px;
}

.chat {
    height: 390px;
}

.chatUsers {
    margin-top: 5px;
}

.imageContainer {
    width: 100%;
}

/* MEMORIES SETTINGS */
.enhancedMemory {
    overflow: auto;
    overflow-x: hidden;
}

#memoImage {
    padding: 5px 0 5px 5px;
}

#story {
    padding: 5px 5px 5px 0;
    width: 47%;
}
