/* Remove default settings to all elements */
* {
    margin: 0;
    padding: 0;
}

html {
    background: url('../images/brickwall.jpg') no-repeat center center fixed;
    background-size: cover;
}

/* BODY SETTINGS */
body {
    color: #fff;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'BeonRegular';
    color: #dcffff;
}

a {
    text-decoration: none;
    color: #339798;
}

.center {
    text-align: center;
}

.right {
    float: right;
}

/* HEADER SETTINGS */
.pageHeader a img {
    width: 40%;
    height: auto;
    padding: 20px;
    display: block;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
}

/* NAVIGATION SETTINGS */
.navigation {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.navList {
    font-family: 'BeonRegular';
    list-style: none;
    background-color: #339798;
    padding: 10px;
}
.navList li {
    display: inline;
}
.navList li a {
    padding: 10px;
    font-size: 18px;
    color: #dcffff;
}
.navList li a:hover {
    background-color: #2d7f7e;
}

/* CONTAINER SETTINGS */
.container {
    padding: 0px 20px;
}

/* FORM SETTINGS */
.login {
    text-align: center;
    background-color: rgba(51,151,152,0.5);
    width: 225px;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    color: #dcffff;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";       /* IE 8 */
    filter: alpha(opacity=100);  /* IE 5-7 */
    -moz-opacity: 1;          /* Netscape */
    -khtml-opacity: 1;        /* Safari 1.x */
    opacity: 1;               /* Good browsers */
}

.loginForm {
    background-color: rgba(255,255,255,0.7);
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
}

form {
    padding-top: 5px;
}

.form-button {
    font-family: 'BeonRegular';
    margin-top: 5px;
    cursor: pointer;
    height: 20px;
    border-radius: 5px;
    background-color: #339798;
    color: #dcffff;
    padding: 2px;
}

.form-button a {
    color: #ffffff;
}

/* FLASH SETTINGS */
.greenFlash {
    margin: 2px;
    padding: 5px;
    width: auto;
    background-color: #ccffcc;
    color: black;
    border: 1px solid green;
}
.redFlash {
    margin: 2px;
    padding: 5px;
    width: auto;
    background-color: #ffb2b2;
    color: black;
    border: 1px solid red;
}
.redFlash ul {
    list-style: none;
}

/* PROGRESS BAR SETTINGS */
#myProgress {
    margin-top: 10px;
    width: 100%;
    background-color: lightgrey;
    border-radius: 5px;
}

#myBar {
    width: 0%;
    height: 30px;
    background-color: #339798;
    border-radius: 5px;
}

/* BUCKETLIST SETTINGS */
.bucketlists {
    float: left;
    width: 48%;
}
.bucketlist {
    padding: 5px;
    border-radius: 5px;
    color: black;
    background-color: lightgrey;
    margin-bottom: 5px;
}

/* LIFELIST SETTINGS */
.lifelist {
    padding: 5px;
    border-radius: 5px;
    color: black;
    float: right;
    background-color: lightgrey;
    width: 48%;
    margin-bottom: 5px;
}

.addGoal {
    margin-top: 5px;
    padding-bottom: 5px;
}

.checkbox {
    margin-right: 5px;
}

/* CHAT SETTINGS */
.chat {
    margin: auto;
    height: 350px;
    width: 250px;
    padding: 10px 10px;
    padding-top: 10px;
    font-family: monospace;
    background-color: #339798;
    border-radius: 5px;
}

.chat input {
    z-index: 1;
}

.message {
    color: #339798;
}

.author {
    font-weight: bold;
    color: black;
}

.messages {
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    width: 230px;
    height: 240px;
    overflow: auto;
    overflow-x: hidden;
}

.chat .messageArea {
    width: 238px;
    margin-top: 5px;
    padding: 5px;
    height: 40px;
}


.previewImg {
    width: 40%;
}

#image {
    width: 100%;
    height: 100%;
}
