/* Remove default settings to all elements */
* {
    margin: 0;
    padding: 0;
}

/* BODY SETTINGS */
body {
    /*font-family: 'BeonRegular';*/
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'BeonRegular';
}

a {
    text-decoration: none;
}

.center {
    text-align: center;
}

.right {
    float: right;
}

/* HEADER SETTINGS */
.pageHeader a img {
    width: 100%;
    height: auto;
}

/* NAVIGATION SETTINGS */
.navList {
    font-family: 'BeonRegular';
    margin-top: -6px;
    list-style: none;
    background-color: #339798;
    padding: 10px;
}
.navList li {
    display: inline;
}
.navList li a {
    padding: 10px;
    font-size: 18px;
    color: #dcffff;
}
.navList li a:hover {
    background-color: #2d7f7e;
}

/* CONTAINER SETTINGS */
.container {
    padding: 20px 20px;
}

/* FORM SETTINGS */
form {
    padding-top: 5px;
}

.form-button {
    font-family: 'BeonRegular';
    margin-top: 5px;
    cursor: pointer;
    height: 20px;
    border-radius: 5px;
    background-color: #339798;
    color: #dcffff;
    padding: 2px;
}

.form-button a {
    color: #ffffff;
}

/* FLASH SETTINGS */
.greenFlash {
    padding: 5px;
    width: auto;
    background-color: #ccffcc;
    border: 1px solid green;
}
.redFlash {
    padding: 5px;
    width: auto;
    background-color: #ffb2b2;
    border: 1px solid red;
}
.redFlash ul {
    list-style: none;
}

/* PROGRESS BAR SETTINGS */
#myProgress {
    margin-top: 10px;
    width: 100%;
    background-color: lightgrey;
    border-radius: 5px;
}

#myBar {
    width: 10%;
    height: 30px;
    background-color: #339798;
    border-radius: 5px;
}

/* BUCKETLIST SETTINGS */
.bucketlists {
    float: left;
    width: 48%;
}
.bucketlist {
    background-color: lightgrey;
    margin-bottom: 5px;
}

/* LIFELIST SETTINGS */
.lifelist {
    float: right;
    background-color: lightgrey;
    width: 48%;
    margin-bottom: 5px;
}
