<div class="chat">
    <div class="messages">
        <template>
            <div class="message">
                <p class="text"></p>
            </div>
        </template>
    </div>
    <textarea class="messageArea noMove"></textarea>
</div>
