{{>navbarAuthenticated}}

<div class="chat">
    <h3>Life² chat</h3>
    <br>
    <div class="messages">
        <template>
            <div class="message">
                <p class="author"></p>
                <p class="text"></p>
            </div>
        </template>
    </div>
    <textarea class="messageArea noMove"></textarea>
</div>
