{{>navbarAuthenticated}}
<div class="center">
<div class="chat">
    <h3>Life² chat</h3>
    <br>
    <div class="messages">
        <template>
            <div class="message">
                <p class="author"></p>
                <p class="text"></p>
            </div>
        </template>
    </div>
    <textarea class="messageArea noMove" aria-label="Textarea for writing message in chat."></textarea>
    <button class="form-button send" aria-label="Button for sending message in chat.">Send</button>
</div>

<div class="chatUsers">
    <h3>Connected users</h3>
    <div class="theUsers">
        <template>
            <div class="connectedUser">
                <p class="user"></p>
            </div>
        </template>
    </div>
</div>
</div>


<script src="/socket.io/socket.io.js"></script>
<script type="text/javascript" src="/clientscripts/chat.js"></script>
