{{>navbarAuthenticated}}
<h2>Create bucketlist for {{username}}</h2>
<form action="/createBucketlist/{{username}}" method="post" id="myForm">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    {{>validationSummary}}
    <input type="text" name="title" placeholder="Name your bucketlist..." value="{{title}}" aria-label="An input field where you write down the name you want your list to have." required="required"></input>
    <button class="form-button" type="submit" aria-label="Button for creating bucketlist.">Create</button>
</form>

<script>
    let iOS = /iPad|iPhone|iPod/.test(navigator.userAgent) && !window.MSStream;
    let browserVersion = /10_3/.test(navigator.userAgent) && !window.MSStream;

    if (iOS && !browserVersion) {
        let form = document.getElementById('myForm');
         form.noValidate = true;
         form.addEventListener('submit', function(event) {
            if (!event.target.checkValidity()) {
                 event.preventDefault();
                 alert('Error! You must fill all required fields.');
        }
        }, false);
    }
</script>
