{{>navbarAuthenticated}}
<h2>Set deadline</h2>
<form action="/setDeadline/{{id}}/{{list}}" method="post" id="myForm">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    {{>validationSummary}}
    <input type="text" pattern="20[1-9][0-9]-((0[1-9])|(1[0-2]))-(([1-2][0-9])|(3[0-1])|(0[1-9]))" name="deadline" placeholder="yyyy-mm-dd" value="{{deadline}}" required="required"></input>
    <button class="form-button" type="submit">Add</button>
</form>

<script>
    let iOS = /iPad|iPhone|iPod/.test(navigator.userAgent) && !window.MSStream;
    let browserVersion = /10_3/.test(navigator.userAgent) && !window.MSStream;

    if (iOS && !browserVersion) {
        let form = document.getElementById('myForm');
         form.noValidate = true;
         form.addEventListener('submit', function(event) {
            if (!event.target.checkValidity()) {
                 event.preventDefault();
                 alert('Error! You must fill all required fields.');
        }
        }, false);
    }
</script>
